*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    width: 100%;
}
/* h1{
    margin: 0 auto;
    width: 200px;
} */
.container{
    width: 360px;
    margin: 20px auto;
}
#addToDo{
    width: 30px;
}
.paragraph-styling{
    margin: 0;
    cursor: pointer;
    font-size: 20px;
}